/* establishes default values for the website, ie padding, font, color, etc. */
    .body {
        padding: 20px;
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    h1 {
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 40px;
    }

    h2 {
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 35px;
    }

    h3 {
        font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        padding-top: 60px;    
        display: flex;
        flex-direction: column;    
        position: relative;
        min-height: 100vh;
        margin-bottom: 60px;    
        font-family: "Chakra Petch", sans-serif;
        background-color: #3C3C3C; /* Maybe we change this to black later*/
        color: white;
    }

    hr {
        border: transparent;
        padding: 1%;
    }

    main {
        flex: 1;
        /* Main content styles */
    }
/* end default styling */

/* styling for wave animation in index.html */
    .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: 2;    /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
    }

/* for the wave only when the mouse hovers */
    .wave:hover {
        animation-name: hover-wave-animation;
        animation-duration: 2.25s;
        animation-iteration-count: infinite;
    }

    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }

    @keyframes hover-wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }
/* end wave styling */

/* styling for project cards in projects.html */
    .body .card {
        float: inline-start;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.5s;
        width: 20%;
        min-width: 250px;
        max-width: 350px;
        border-radius: 5px;
        background-color: #474747;
        flex:auto;
        margin: 2%;
    }
/* end card styling */

/* styling for aboutus.html bio sections */
    .bio-div {
        display: flex; 
        margin: auto; 
        height: fit-content;
        padding: 30px;
    }

    .bio-img {
        max-height: 300px; 
        margin: auto;
        padding: 1%;
        border-radius: 20px;
    }

    .bio-txt {
        display: flex; 
        flex-direction: column; 
        margin: auto;
        padding: 10px;
    }

    .bio-header {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .bio-subheader {
        position: absolute;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -10%);
        min-width: 200px;
    }

    .bio-headerImg {
        width: 100%;
        height: auto; 
        opacity: .1; 
    }
/* end bio styling */

/* styling for about us page as a whole */
    .container {
        padding: 2px 16px;
    }

    #header {
        position: relative;
    }

    #header img {
        width: 100%;
        opacity: .1;
    }

    #txt h1 {
        margin: 0%;
        text-align: center;
        position: absolute;
        bottom: 60%;
        right: 40%;
        font-size: 4vw; 
    }

    #txt p {
        padding-left: 10%;
        text-align: center;
        position: absolute;
        bottom: 20%;
        right: 10%;
        font-size: 1.5vw;
    }

    .loft-img {
        border: 5px solid #3C3C3C; /* Border color similar to background */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow to blend edges */
        border-radius: 20px;
    }
/* end aboutus.html styling */

/* aboutus.html styling for mobile */
@media screen and (max-width: 768px){

    #annoying {
        display: none;
    }
    #txt {
        z-index: -1;
    }

    #header h1 {
        position: relative;
        font-size: 40px;
        display: flex; 
        margin: auto; 
        height: fit-content;
        padding: 30px;
        flex-flow: column;
        translate: 37%;
        z-index: -1;

    }
    #header p {
        font-size: 100%;
        position: relative;
        text-align: left;        
    }

    .bio-div {
        display: flex; 
        margin: auto; 
        height: fit-content;
        padding: 30px;
        flex-flow: column;
    }
}
/* end mobile styling */

/* start styling for ring animation */
    .ring {
        position: relative;
        /* width: 40%; */
        width: 450px;
        height: 450px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media (max-width: 600px) {
    .ring {
        width: 80%; /* Smaller size for mobile */
        height: 80%; /* Smaller size for mobile */
        margin: 10%
    }

    #one {
        order: 1;
    }

    #two {
        order: 2;
    }

    #three {
        order: 4;
    }

    #four {
        order: 3;
    }

    #five {
        order: 5;
    }

    #six {
        order: 6;
    }

    #seven {
        order: 8;
    }

    #eight {
        order: 7;
    }

    .bio-div {
        flex-direction: column; /* Stacks the elements vertically on small screens */
        word-wrap: normal;
    }
    
    .bio-txt, .imageH {
        margin-bottom: 2%; /* Adds space below the text and image */
    }
    
    .buttonH {
        margin-top: 2%; /* Adds space above the button */
    }

    #ignore {
        display: none !important; 
        visibility: hidden !important;
        opacity: 0%;
    }
}

    .ring i {
        position: absolute;
        inset: 0;
        border: 2px solid #474747;
        transition: 0.5s;
    }

    .ring i:nth-child(1) {
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        animation: animate 6s linear infinite;
    }

    .ring i:nth-child(2) {
        border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
        animation: animate 4s linear infinite;
    }

    .ring i:nth-child(3) {
        border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
        animation: animate2 10s linear infinite;
    }

    .ring:hover i {
        border: 6px solid var(--clr);
        filter: drop-shadow(0 0 20px var(--clr));
    }
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animate2 {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
/* end styling for ring animation */

/* styling for home page */
    .center {
        text-align: center;
        padding: 2%;
    }
    .buttonH {
        border-radius: 5px; 
        padding: 15px; 
        position: relative;
        text-decoration: none; 
        background-color: #C43629; 
        margin: 3%;
    }

    .buttonH:hover {
        background-color: #9b261b;
    }

    .imageH {
        max-width: 100%; 
        margin: auto; 
        padding: 1%; 
        border-radius: 20px;
        height: auto;
    }

    .calendar-container {
        position: relative;
        overflow: hidden;
        width: 100%; /* Ensures it takes the full width on smaller screens */
        padding-top: 75%; /* 4:3 aspect ratio for mobile */
    }
    
    .calendar-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Media query for screens wider than 768px (adjust as needed for your design) */
    @media (min-width: 768px) {
        .calendar-container {
            width: 800px; /* Fixed width for desktop */
            height: 600px;
            padding-top: 0; /* Override padding-top for desktop */
            margin: 0 auto; /* Centers the container horizontally */
        }

        .calendar-container iframe {
            height: 100%; /* Ensure the iframe fills the container */
        }
    }
/* end styling for home page */