.body {
    padding: 20px;
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35px;
}

h3 {
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 60px;    
    display: flex;
    flex-direction: column;    
    position: relative;
    min-height: 100vh;
    margin-bottom: 60px;    
    font-family: "Chakra Petch", sans-serif;
    background-color: #3C3C3C; /* Maybe we change this to black later*/
    color: white;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: 2;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }

/* for the wave only when the mouse hovers */
.wave:hover {
    animation-name: hover-wave-animation;
    animation-duration: 2.25s;
    animation-iteration-count: infinite;
}
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  @keyframes hover-wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }


.bio-div {
    display: flex; 
    margin: auto; 
    height: fit-content;
    padding: 30px;
}
.bio-img {
    max-height: 300px; 
    margin: auto;
    padding: 1%;
}

.bio-txt {
    display: flex; 
    flex-direction: column; 
    margin: auto;
    padding: 10px;
}